body {
    margin-left: 5px;
    margin-top: -18px;
}


.header-menu {
    background-color:lightgray;
    padding-top: 10px;
    margin-top: -18px;
}


li {
    text-decoration: none;
    display: inline-block;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
}

.titlu {
    padding-left: 40px;
    padding-right: 40px;
}

.header-contact {
    background-color: black;
    padding-left: 1400px;
}

.header-contact p {
    color: white;
}

.primaimagine {
    margin-top: -17px;
}

. {
    height: 100px;
    width: 100px;
    border: 3px solid black;
    position: relative;

}

.first-image {
    display: block  ;
    width: 33.33%;
    float: left;
}

.prop {
    float: left;
}

.img11 {
    width: 25%;
    float: left;
}

.img12 {
    width: 25%;
    float: left;
}

.trusted1 {
    width: 33.33%;
    float: left;
    background-color: lightgray;
    }

.latest1 {
    width: 33.33%;
    float: left;
}

.footer-bottom {
    background-color: lightgray;
}