ul {
    list-style: none;
    padding-left: 400px;
    padding-bottom: 10px;
}
.header-contact {
    background-color:black;
    color: white;
}

.container {
    background-color: gray;
}


.phone-contact {
    padding-left: 20px;
}

.real-home {
    padding-left: 20px;
    padding-right: 20px;
}

.header-contact {
    padding-left: 900px;
}

.header-menu {
margin-top: 10px;
border-bottom: 10px;
}

.realhome {
    position: relative;
}

.primaimagine {
    padding-left: 0;
}

.banner-main {
    position: relative;
    box-sizing: border-box;
    border: black 1px;
}