input[type="checkbox"]:checked + label{
  color: green;
}

input[type="radio"]:checked + label {
  background-color: green;
}

select option:checked {
  font-weight: bold;
  color: red;
}

select option: {color: green;}